<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="OrcasThemes">
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<title>Home</title>
<!-- Bootstrap core CSS -->
<link href="/static/home/css/bootstrap.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link rel="stylesheet" href="/static/home/css/screen.css">
<link rel="stylesheet" href="/static/home/css/animation.css">
<!--[if IE 7]>

<![endif]-->
<link rel="stylesheet" href="/static/home/css/font-awesome.css">
<!--[if lt IE 8]>
<link rel="stylesheet" href="/static/home/css/ie.css" type="text/css" media="screen, projection">
<![endif]-->
<link href="/static/home/css/lity.css" rel="stylesheet">

